USE [master]
GO
/****** Object:  Database [HMS]    Script Date: 1/20/2026 1:53:02 AM ******/
CREATE DATABASE [HMS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HMS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\HMS.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HMS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\HMS_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HMS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HMS]
GO
/****** Object:  Table [dbo].[bookings]    Script Date: 1/20/2026 1:53:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bookings](
	[Name] [nvarchar](50) NOT NULL,
	[RoomType] [nvarchar](max) NOT NULL,
	[CheckIN] [date] NOT NULL,
	[CheckOut] [date] NOT NULL,
	[RoomServiceUsed] [nvarchar](max) NOT NULL,
	[ParkingUsed] [bit] NOT NULL,
	[BaseBill] [decimal](18, 0) NOT NULL,
	[DiscountApplied] [decimal](18, 0) NOT NULL,
	[FinalBill] [decimal](18, 0) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 1/20/2026 1:53:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[ID] [int] IDENTITY(100,100) NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[MOBILE] [nvarchar](50) NOT NULL,
	[GENDER] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RECEPTION]    Script Date: 1/20/2026 1:53:02 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RECEPTION](
	[ID] [int] NOT NULL,
	[NAME] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
	[PASSWORD] [nvarchar](50) NOT NULL
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[bookings] ADD  CONSTRAINT [DF_bookings_DiscountApplied]  DEFAULT ((0)) FOR [DiscountApplied]
GO
USE [master]
GO
